<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ConnectionStringDS" connectionString="Server=10.148.0.9;Port=5432;User Id=postgres;Password=X7@2020;Database=onsign_test;Pooling=false;Timeout=300;CommandTimeout=300" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Đường dẫn Folder ghi Log-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FileLogPath" value="D:\webs\sign test\SVC_Document_Render\Logs" />
    <!--Đường dẫn trỏ vào Folder gốc Sign-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RootFolder" value="D:\webs\sign test\s.onfinance.asia\" />

    <!--Config RabbitMQ-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQUserName" value="admin_test" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQPassword" value="admin_test" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQHostName" value="10.148.0.9" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQVirtualHost" value="OnSign_TEST" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQRenderTopic" value="document.render" />
  </appSettings>
</configuration>